@model Unidad_2_Actividad_4.Models.personajeViewModel
@{
    Layout = "_Layout";
}
<div id="principalVer">
    <div class="container">
        <img class="image1" src="~/images/banners/@(Model.Id)_b.jpg">
        <div class="overlay">
            <img class="image2" src="images/banners/@(Model.Id)_b.png">
        </div>
    </div>
    <div class="datosPelicula">
        <h1>@Model.NomPelicula</h1>

        <h1> @Model.NomOriginal • @Model.FechaEstreno.Value.ToShortDateString()</h1>
        <p>
            @Model.Descripcion
        </p>
        <div class="personajes">
            <h2>Personajes</h2>
            @foreach (var personaje in Model.apariciones)
            {
                <div>
                    <a>
                        <img src="~/images/personajes/@(personaje.IdPersonajeNavigation.Id).jpg" alt="asd">
                    </a>

                    <div class="nombrePelicula">
                        <p>@personaje.IdPersonajeNavigation.Nombre</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>